.raw-box {
  transition: 0.3s;
  border-radius: var(--border-radius);
  padding: 5px;
  text-align: center;
  font-weight: bold;
  font-size: var(--fz-lg);
  height: 100px;
  color: var(--black);
  position: relative;
}

.raw-box .raw-box-title {
  position: absolute;
  top: 5px;
  width: calc(100% - 10px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.raw-box .raw-box-value {
  position: absolute;
  bottom: 5px;
  width: calc(100% - 10px);
}

.raw-box .raw-box-close {
  position: absolute;
  top: 0px;
  right: 3px;
  cursor: pointer;
}
