#about {
  text-align: center;
  padding: 5px;
}

#about #header {
  margin-top: 66px;
  font-size: 4.5vw;
  text-align: center;
  font-weight: 800;
  background: -webkit-linear-gradient(left, var(--black), var(--red));
  background: -o-linear-gradient(right, var(--black), var(--red));
  background: -moz-linear-gradient(right, var(--black), var(--red));
  background: linear-gradient(to right, var(--black), var(--red));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#about #sub-header {
  margin-top: 66px;
  font-size: 3vw;
  text-align: center;
  font-weight: 800;
  background: -webkit-linear-gradient(left, var(--black), var(--red));
  background: -o-linear-gradient(right, var(--black), var(--red));
  background: -moz-linear-gradient(right, var(--black), var(--red));
  background: linear-gradient(to right, var(--black), var(--red));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#about .people {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#about .people .person {
  text-align: center;
  border: 0px !important;
  justify-content: center;
}

#about img {
  max-width: 70%;
  min-width: 300px;
  margin: auto;
}

#about #design-section {
  margin-top: 30px !important;
  text-align: left;
}

#about .design-header {
  max-width: 800px;
  text-align: left;
  margin: auto;
  font-weight: bold;
  margin-top: 30px;
}

#about .design-description {
  max-width: 800px;
  text-align: left;
  margin: auto;
}
