/*
Copyright Schulich Racing, FSAE
Written by Justin Tijunelis
*/

#no-things {
  height: 100%;
  width: 100%;
  font-size: var(--fz-md);
  display: flex;
  text-align: center;
}

#no-things #no-thing-content {
  width: 300px;
  margin: auto;
}

#no-things .text-button {
  margin-top: 20px;
}
