::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

a {
  color: var(--red);
  transition-duration: 0.3s;
}

a:hover {
  color: var(--black);
}

:focus-visible {
  outline: var(--black) 1px;
  outline-width: 0px;
}
