::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

a {
  color: var(--red);
  transition-duration: 0.3s;
}

a:hover {
  color: var(--black);
}

:focus-visible {
  outline: var(--black) 1px;
  outline-width: 0px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
