/*
Copyright Schulich Racing, FSAE
Written by Justin Tijunelis
*/

#dashboard {
  display: flex;
  position: relative;
  min-height: 100vh;
  padding-top: 66px;
}

#dashboard #content {
  padding: 5px;
  margin-top: 54px;
  width: 100%;
  min-height: calc(100vh - 120px);
  transition: cubic-bezier();
  transition-duration: 0.3s;
  overflow: hidden;
}

@media only screen and (max-width: 916px) {
  #dashboard {
    touch-action: pan-y;
  }

  #dashboard #content {
    margin-top: 0px;
  }
}
