/*
Copyright Schulich Racing, FSAE
Written by Justin Tijunelis
*/

#dashboard {
  display: flex;
  position: relative;
  min-height: 100vh;
  padding-top: 66px;
}

#dashboard #content {
  padding: 5px;
  margin-top: 54px;
  width: 100%;
  min-height: calc(100vh - 120px);
  transition: cubic-bezier();
  transition-duration: 0.3s;
  overflow: hidden;
}

#centered {
  width: 100%;
  height: 100%;
  text-align: center;
}

#centered-content {
  text-align: center;
  font-size: var(--fz-lg);
  position: relative;
  top: 50%;
  max-width: 500px;
  margin: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media only screen and (max-width: 916px) {
  #dashboard {
    touch-action: pan-y;
  }

  #dashboard #content {
    margin-top: 0px;
  }
}
