#dashboard {
  display: flex;
  position: relative;
  height: 100%;
  margin-top: 66px;
  overflow-y: auto;
}

#dashboard #content {
  padding: 10px;
  margin-top: 45px;
  width: 100%;
  font-size: 50px;
  min-height: calc(100vh - 66px);
  transition: cubic-bezier();
  transition-duration: 0.3s;
}

@media only screen and (max-width: 768.9px) {
  #dashboard {
    touch-action: pan-y;
    margin-top: 0px;
  }

  #dashboard #content {
    margin-top: 66px;
  }
}
