/*
Copyright Schulich Racing, FSAE
Written by Justin Tijunelis
*/

#dashboard #dashboard-loading {
  display: flex;
  margin-top: -54px;
  min-height: calc(100vh - 84px);
  width: 100%;
}

#dashboard #dashboard-loading #dashboard-loading-content {
  text-align: center;
  max-width: 400px;
  padding: 5px;
  width: 100%;
  margin: auto;
}

#dashboard #dashboard-loading #dashboard-loading-content .text-button {
  margin-top: 20px;
}
