/*
Copyright Schulich Racing, FSAE
Written by Justin Tijunelis
*/

.modal-content .base-modal-title {
  font-weight: bold;
}

.modal-content .compressed-form {
  display: flex;
  gap: 10px;
}

.base-modal-inline-items {
  display: inline-flex;
  width: 100%;
}

.modal-content .base-modal-body {
  padding: 10px;
  margin-top: -5px;
}

.modal-content .base-modal-body form > * {
  margin-top: 14px;
}

.modal-content .base-modal-body > * {
  margin-top: 14px;
}

.modal-header .h4 {
  font-size: var(--fz-md);
}

.base-modal-close {
  border: none;
  background-color: transparent;
  opacity: 0.8;
  cursor: pointer;
}

.base-modal-close:hover {
  opacity: 1;
  transition: 0.8s;
}
