/*
Copyright Schulich Racing, FSAE
Written by Justin Tijunelis
*/

.card {
  border-radius: var(--border-radius) !important;
  border: 1px solid var(--red) !important;
  padding: 5px;
  font-size: var(--fz-xs);
}

.card .card-title {
  font-size: var(--fz-lg);
  margin-bottom: 0px;
  text-decoration: underline;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 70%;
}

.card #card-delete {
  position: absolute;
  top: 5px;
  right: 5px;
}

.card #card-edit {
  position: absolute;
  top: 45px;
  right: 5px;
}

.card #card-comment {
  position: absolute;
  top: 85px;
  right: 5px;
}

.card .thing-card,
.card .operator-card,
.card .sensor-card {
  min-height: 115px;
}

.user-card {
  min-height: 87px;
}
