/*
Copyright Schulich Racing, FSAE
Written by Justin Tijunelis
*/

.line-legend {
  text-align: center;
  font-size: 10px;
  display: grid;
  position: relative;
  margin-top: 10px;
  line-height: 25px;
}

.line-legend .sensor {
  font-weight: bold;
  display: flex;
  justify-content: center;
  height: 25px !important;
}

.line-legend button {
  margin-left: 5px;
  color: var(--white);
  height: 25px;
  width: 25px;
  line-height: 1.4;
}

.line-controls {
  padding-left: 15px;
  padding-right: 15px;
}
