/*
Copyright Schulich Racing, FSAE
Written by Justin Tijunelis
*/

.line-chart {
  position: relative;
  height: 100%;
}

.line-legend {
  text-align: center;
  font-size: 8px;
  display: grid;
  position: relative;
  margin-top: 10px;
  line-height: 25px;
}

.line-legend .sensor {
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: left;
  height: 25px !important;
  margin-bottom: 5px;
}

.line-legend .slope {
  font-style: italic;
}

.line-legend button {
  margin-right: 5px;
  color: var(--white);
  height: 25px;
  width: 25px;
  line-height: 1.4;
}

.line-controls {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
}

/* .line-controls .range-slider {
  margin-top: -5px;
}

.line-controls .slider {
  margin-top: 5px;
} */

.line-chart .line-controls {
  /* position: absolute;
  bottom: 5px;
  left: 0px;
  right: 0px; */
}
