/*
Copyright Schulich Racing, FSAE
Written by Justin Tijunelis
*/

.scatter-chart {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
}

.scatter-chart .fill {
  flex-grow: 1;
}

.scatter-controls {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  gap: 5px;
}

.scatter-controls > div {
  width: 100%;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
