/*
Copyright Schulich Racing, FSAE
Written by Justin Tijunelis
*/

.chart-box {
  border-radius: var(--border-radius);
  border: 1px solid var(--red);
  height: calc(100vh * 0.5 - 48px);
  position: relative;
  padding: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.chart-box .chart-title {
  margin: 0;
  font-size: var(--fz-xxl);
  font-weight: bold;
  height: 35px;
}

.chart-box .chart-controls {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  padding: 5px;
  line-height: 0px;
}

.chart-box .chart-controls > .icon-button {
  margin-left: 5px !important;
}

.chart-box .chart-area {
  flex-grow: 1;
  width: 100%;
}
