.pro-sidebar {
  height: calc(100vh - 56px);
  color: var(--white) !important;
  position: fixed;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item,
.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout,
.pro-sidebar.collapsed
  .pro-menu
  > ul
  > .pro-menu-item.pro-sub-menu
  > .pro-inner-list-item
  > .popper-inner {
  background-color: var(--red);
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item:hover,
.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item:focus {
  color: var(--white);
}

.pro-sidebar
  .pro-menu
  .pro-menu-item.pro-sub-menu
  .pro-inner-list-item
  .pro-inner-item:hover,
.pro-sidebar
  .pro-menu
  .pro-menu-item.pro-sub-menu
  .pro-inner-list-item
  .pro-inner-item:focus,
.pro-sidebar .pro-menu .pro-menu-item.active {
  color: var(--black);
}

.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout .pro-sidebar-header {
  border-bottom: 0px solid;
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item > .pro-item-content {
  font-weight: bold;
}

.popper-element[data-popper-placement^="right"] > .popper-arrow {
  left: 0;
  border-left: 7px solid var(--red);
}

.pro-sidebar .hamburger-react {
  margin: 13.5px;
}

.pro-sidebar
  .pro-menu
  .pro-menu-item.pro-sub-menu
  > .pro-inner-item
  > .pro-arrow-wrapper
  .pro-arrow {
  border-color: var(--white);
}

@media only screen and (max-width: 768.9px) {
  #sidebar .pro-sidebar {
    position: fixed;
  }

  #sidebar .pro-sidebar-header {
    display: none;
  }
}
