/* 
Copyright Schulich Racing FSAE
Written by Joey Van Lierop
*/

.manage-card {
  border: 1px solid var(--red);
  border-radius: var(--border-radius);
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1rem;
}
