/*
Copyright Schulich Racing, FSAE
Written by Justin Tijunelis
*/

.alert-background {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000000000;
  color: white;
}

.alert-background .alert-card {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 300px;
  height: 150px;
  padding: 5px;
  border-radius: var(--border-radius);
}

.alert-background .alert-card .alert-title {
  font-size: var(--fz-lg);
}

.alert-background .alert-card .alert-description {
  font-size: var(--fz-sm);
}
