.dropdown > div {
  border: 1px solid var(--red);
  box-shadow: var(--red) auto 2px;
}

.dropdown > div:hover {
  border: 1px solid var(--red);
}

.dropdown *[class*="-indicatorSeparator"] {
  background-color: var(--red) !important;
}

.dropdown *[class*="-indicatorContainer"] {
  color: var(--red) !important;
}

.dropdown *[class*="-indicatorContainer"]:hover {
  color: rgba(var(--red), 0.5) !important;
}

.dropdown *[class*="-menu"] {
  background-color: white;
}

.dropdown *[class*="-control"] {
  height: 44px;
}

.dropdown *[class*="-option"]:active {
  background-color: var(--red);
}

#react-select-3-listbox {
  background-color: white !important;
  border: 1px solid var(--red);
  font-weight: bold;
  width: calc(100% + 10px);
  margin-left: -5px;
}

#react-select-3-listbox > div > div {
  cursor: pointer;
}

#react-select-3-listbox > div > div:active {
  background-color: var(--red);
  opacity: 0.5;
}
