.icon-button {
  width: 35px;
  height: 35px;
  background-color: var(--red);
  border: 0px solid;
  border-radius: var(--border-radius);
  transition-duration: 0.3s;
}

.icon-button > svg {
  fill: var(--white);
}

.icon-button:hover {
  background-color: var(--black);
}
