/* 
Copyright Schulich Racing FSAE
Written by Justin Tijunelis
*/

.sc-container {
  height: 44px !important;
  width: 100%;
}

.segmented-control {
  margin: 0;
  border-radius: var(--border-radius);
  font-size: var(--fz-xs);
  height: 44px !important;
  font-weight: bold;
}

.segmented-control label {
  height: 44px;
}
