.text-button {
  border-radius: var(--border-radius);
  background-color: var(--red);
  border: 0px solid;
  color: var(--white);
  width: 100%;
  height: 44px;
  transition-duration: 0.3s;
}

.text-button:hover {
  background-color: var(--black);
}
