.text-area {
  margin-bottom: 12px;
}

.ql-toolbar.ql-snow,
.ql-container.ql-snow {
  border-color: var(--gray);
}

.ql-toolbar.ql-snow {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.ql-container.ql-snow {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.ql-editor.ql-blank::before {
  color: var(--gray);
  content: attr(data-placeholder);
  font-style: normal;
  left: 15px;
  pointer-events: none;
  position: absolute;
  right: 15px;
}
