/*
Copyright Schulich Racing, FSAE
Written by Justin Tijunelis
*/

#profile {
  display: flex;
}

#profile img {
  width: 100%;
}

#profile #header {
  text-align: center;
}

#profile #profile-content {
  max-width: 600px;
  margin: auto;
  padding: 10px;
}
