/*
Copyright Schulich Racing, FSAE
Written by Justin Tijunelis
*/

.line-chart {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.line-chart .fill {
  flex-grow: 1;
}

.line-legend {
  font-size: 8px;
  display: grid;
  position: relative;
  margin-top: 10px;
  line-height: 25px;
}

.line-legend .sensor {
  font-weight: bold;
  display: flex;
  justify-content: left;
  text-align: left;
  height: 25px !important;
  margin-bottom: 5px;
}

.line-legend .sensor .legend-item {
  display: flex;
}

.line-legend .sensor .legend-item-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 70px;
}

.line-legend .slope {
  font-style: italic;
}

.line-legend button {
  margin-right: 5px;
  color: var(--white);
  height: 25px;
  width: 25px;
  line-height: 1.4;
}

.line-controls {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
}

.chart-loading {
  width: 100%;
  height: 100%;
  text-align: center;
}

.chart-loading .chart-loading-content {
  position: absolute;
  top: 43%;
  left: 0;
  right: 0;
}
