#session-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

@media only screen and (max-width: 1200px) {
  #session-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
  }
}
