/*
Copyright Schulich Racing, FSAE
Written by Justin Tijunelis
*/

.chart-box {
  border-radius: var(--border-radius);
  border: 1px solid var(--red);
  height: calc(100vh * 0.5 - 48px);
  position: relative;
  padding: 5px;
  display: flex;
  flex-direction: column;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.chart-box .chart-title {
  margin: 0;
  font-size: var(--fz-lg);
  font-weight: bold;
  height: 35px;
}

.chart-box .chart-controls {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  padding: 5px;
  line-height: 0px;
}

.chart-box .chart-controls .icon-button {
  margin-left: 5px !important;
}

.chart-box .chart-area {
  flex-grow: 1;
  width: 100%;
  padding-bottom: 0px;
}

@media only screen and (max-width: 916px) {
  .chart-box {
    height: 450px;
  }
}

@media only screen and (max-width: 916px) and (orientation: landscape) {
  .chart-box {
    height: 340px;
  }
}
