/*
Copyright Schulich Racing, FSAE
Written by Justin Tijunelis
*/

#chart-view {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

@media only screen and (max-width: 1200px) {
  #chart-view {
    display: block;
    grid-template-columns: 1fr;
    grid-gap: 4px;
  }

  #chart-view .chart-box {
    margin-bottom: 10px;
  }
}
