/*
Copyright Schulich Racing, FSAE
Written by Justin Tijunelis
*/

#sign-up {
  display: flex;
}

#sign-up img {
  width: 100%;
}

#sign-up #sign-up-form {
  width: 50%;
  max-width: 600px;
  margin: auto;
  padding: 10px;
}

#sign-up #sign-up-loading {
  text-align: center;
}

#sign-up #sign-up-form > * {
  margin-bottom: 20px;
}

#sign-up #redirect {
  text-align: center;
}

#sign-up #sign-up-success {
  text-align: center;
}

@media (max-width: 768.9px) {
  #sign-up #sign-up-form {
    width: 100%;
  }
}
