/* 
Copyright Schulich Racing FSAE
Written by Justin Tijunelis
*/

#sign-in {
  display: flex;
}

#sign-in img {
  width: 100%;
}

#sign-in #sign-in-form {
  max-width: 600px;
  margin: auto;
  padding: 10px;
}

#sign-in-form > * {
  margin-bottom: 20px;
}

#sign-in #redirect {
  text-align: center;
}

#sign-in #sign-in-error {
  color: var(--red);
  text-align: center;
}

@media (max-width: 600px) {
  #sign-in #sign-in-form {
    min-width: 1px;
    width: 100%;
  }
}
